<header
  [lastUpdate]="(repositoryDetails | async).timestamp | timestamp"
  [dataSource]="(repositoryDetails | async).dataSource"
  [userData]="usrData">
</header>

<div class="repository">

  <button class="back-button" (click)="back()">
    <span class="back-button__text">Back to main page</span>
  </button>

  <div class="repository__name">
    {{ (repositoryDetails | async).repoName }}
  </div>

  <div class="warnings">
    <div class="warnings__head">
      Warnings: {{ warningsCounter }}
      <button class="warnings__button" (click)="showWarnings()" [hidden]="warningsCounter === 0">
        <span [hidden]="showWarningsCondition" class="warnings__button-text">Show</span>
        <span [hidden]="!showWarningsCondition" class="warnings__button-text">Hide</span>
      </button>
    </div>

    <div class="warning" [hidden]="!showWarningsCondition" *ngFor="let exp of warnings">Warning: {{ exp.warning }}</div>
  </div>

  <div class="repository__default-info">
    <div class="subhead">
      <img src="{{ defaultBranchesShield }}" alt="">
    </div>

    <div class="info">
      <span>Type of privacy: {{ (repositoryDetails | async).repoType }}</span>

      <div>
        <img *ngFor="let dependency of dependencies"
             src="{{ setRepoDependenciesShields(dependency) }}"
             class="image" alt="" />
      </div>

      <div class="info__branches-header">
        <span>Default branches</span>
      </div>

      <div class="info__branches">
        <div class="branch" *ngFor="let branch of defaultBranches; let i = index">
          <div class="branch__name" [id]="'name'+i" (click)="click('name'+i, 'body'+i, 'btn'+i)">
            <button class="toggle-button">
              <span class="toggle-button__text" [id]="'btn'+i">&#8250;</span>
            </button>
            <span>{{ (repositoryDetails | async).branches[branch].branchName }}</span>
          </div>

          <div class="branch__body" [id]="'body'+i">
            <span class="branch__dependency"
                  *ngFor="let dependency of getDependenciesFromBranch((repositoryDetails | async).branches[branch])">
              <img src="{{ setShieldForDependency(dependency) }}" alt="" />

              <span class="version version-{{setVersionStatus(dependency, (repositoryDetails | async).branches[branch])}}">
                {{ (repositoryDetails | async).branches[branch][dependency] }}
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="info__custom-branches">
        <div class="info__custom-branches-header">
          <span>Custom branches</span>
        </div>

        <button class="button" (click)="openCompareCustomBranchesModal(template)" [disabled]="disableButtonCondition">
          <span class="button__text">{{ btnText }}</span>
        </button>

        <div *ngFor="let customBranch of (customBranches | async); let i = index">
          <div class="info__custom-branches-display">
            <div class="branch" *ngFor="let branch of getCustomBranches(customBranch.branches); let j = index">
              <div class="branch__name" [id]="'name'+i+j" (click)="click('name'+i+j, 'body'+i+j, 'btn'+i+j)">
                <button class="toggle-button">
                  <span class="toggle-button__text" [id]="'btn'+i+j">&#8250;</span>
                </button>
                <span>{{ customBranch.branches[branch].branchName }}</span>
              </div>

              <div class="branch__body" [id]="'body'+i+j">
                <div class="branch__dependency" *ngFor="let dependency of getDependenciesFromBranch(customBranch.branches[branch])">
                  <img src="{{ setShieldForDependency(dependency) }}" alt="" />
                  <span class="version version-{{ setVersionStatus(dependency, customBranch.branches[branch]) }}">
                    {{ customBranch.branches[branch][dependency] }}
                  </span>
                </div>
              </div>
            </div>

            <button class="remove-comparing" (click)="removeComparing(customBranch)">
              <span class="remove-comparing__cross">&times;</span>
              <span class="remove-comparing__text">Remove comparing</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <span>Choose branches for <b>{{ (repositoryDetails | async).repoName }}</b></span>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" id="getBranchesButton">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="customBranchesForm">
      <div class="custom-branches">
        <div class="custom-branches__base">
          <label for="BaseBranch">Choose base branch</label>
          <input [typeahead]="repositoryBranches"
                 autocomplete="off"
                 class="new-branch"
                 placeholder="Enter base branch"
                 formControlName="baseBranch"
                 id="BaseBranch">
        </div>

        <div class="custom-branches__compare">
          <label for="CompareBranch">Choose compare branch</label>
          <input [typeahead]="repositoryBranches"
                 autocomplete="off"
                 class="new-branch"
                 placeholder="Enter compare branch"
                 formControlName="compareBranch"
                 (typeaheadOnSelect)="checkNewBranches()"
                 id="CompareBranch">
        </div>
      </div>

      <div class="warning" [hidden]="!(modalWarning | async)">Warning: {{ modalWarning | async }}</div>

      <button class="button mt-15"
              [disabled]="!customBranchesForm.valid || !disableAddBranchesButtonCondition"
              (click)="addBranches()">
        <span class="button__text">{{ addBranchesText }}</span>
      </button>

    </form>
  </div>
</ng-template>
