.header {
  display: grid;
  height: 100px;
  background-color: #d9d9d9;
  grid-template-columns: 1fr 1fr 1fr;

  &__last-update {
    margin-left: 40px;
    align-self: center;
    color: black;
    font-family: Cabin,'sans-serif';
    font-size: 20px;
    font-weight: 500;
  }

  &__controls {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  &__text {
    font-weight: 500;
    font-family: Cabin,'sans-serif';
    padding-right: 20px;
    padding-left: 20px;
  }
}

.source-company {
  text-align: center;
}

.logout {
  align-self: center;
  text-align: right;
  margin-right: 50px;
}

.btn-logout {
  outline: 0;
  border: 0;
  cursor: pointer;
  height: 35px;
  width: 100px;
  border-radius: 3px;
  background-color: #890000;

  transition-duration: .3s;
  transition-property: background-color;

  &:hover {
    background-color: #bb0000;
  }
}

.controls {
  height: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;

  &__control {
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: 0;
    border-left: 1px solid #616161;
    border-right: 1px solid #616161;
    background-color: #d9d9d9;

    transition-duration: .3s;
    transition-property: background-color;

    &:not(:last-child) {
      border-right: 0;
    }

    &:hover {
      background-color: #c0c0c0;
    }

    &:disabled {
      cursor: not-allowed;

      &:hover {
        background-color: #d9d9d9;
      }
    }
  }

  &__text {
    font-size: 14px;
    font-family: Cabin, 'sans-serif';
    font-weight: 500;

    transition-duration: .3s;
    transition-property: font-weight;
  }
}

.button-text {
  color: #e1e1e1;
  padding: 10px;
  font-family: Cabin, 'sans-serif';
}
