<div class="error" [hidden]="!errCondition">
  <span class="error__text">{{ errText }}</span>
</div>

<form [formGroup]="loginForm" class="form">
  <div class="form__header">
    <span class="form__header-text">
      Well Come!
    </span>
  </div>

  <div class="organization">

    <div class="organization__left-side">
      <div class="input-text">
        <label for="inputField">Please, set your organization name</label>
        <input id="inputField" class="input-field" type="text"
               placeholder="Organization name"
               autocomplete="off"
               formControlName="organization">
      </div>
    </div>

    <div class="organization__middle-side"></div>

    <div class="organization__right-side">

      <div class="radio">
        <input id="gitHub" type="radio" value="github" formControlName="dataSource">
        <label for="gitHub">GitHub</label>
      </div>

      <div class="coming_soon">Other services - coming soon...</div>
    </div>

  </div>

  <div class="form__footer">

    <div class="form__footer-login">
      <button class="login-button" [disabled]="!loginForm.valid" (click)="login()">
        <span class="button-text">Login via (coming soon...)</span>
      </button>
    </div>

  </div>
</form>
