<div class="header">
  <div class="header__last-update">
    Last Update: {{ lastUpdate }} ago
  </div>

  <div class="header__controls">
    <div class="source-company">
      <span class="header__text">Data source: {{ setDataSource(dataSource) }}</span>
      <span class="header__text">{{ userData?.role }}: {{ userData?.login }}</span>
    </div>
    <div class="controls">
      <button type="button" class="controls__control" disabled>
        <span class="controls__text">Dependencies management</span>
      </button>

      <button type="button" class="controls__control" disabled>
        <span class="controls__text">Versions management</span>
      </button>
    </div>
  </div>

  <div class="logout">
    <button class="btn-logout" (click)="logout()">
      <span class="button-text">Logout</span>
    </button>
  </div>
</div>
