<div [hidden]="errorCondition" class="alert alert-danger text-center" role="alert">
  {{errorText}}
</div>

<div class="table-position">
  <button type="button" class="btn btn-outline-danger btn-block btn-logout-width" (click)="logOut()">Log Out</button>
  <button type="button" class="btn btn-outline-info btn-clock btn-info-width" (click)="openModal(template)">Add package</button>
  <table class="table table-bordered table-active">
    <caption>Last update: {{ lastUpdate((repositoriesData | async)[(repositoriesData | async).length -1]?.timestamp) }} ago</caption>
    <thead class="thead-dark">
    <tr>
      <th class="repository-name text-center">Repository Name</th>
      <th class="text"><span>Type of privacy</span></th>
      <th class="text"><span>Branches</span></th>
      <th class="text" *ngFor="let item of (tableHeader | async)">
        <span [tooltip]="item._package.recommendVersion">
          {{ item.name }}<a container="body" class="important-field"
             [hidden]="!item._package.isImportant"
             [tooltip]="item._package.isImportant ? 'Important field' : ''" placement="bottom">*</a>
        </span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Repository name" aria-label="Username" (keyup)="filtration('repoName', $event.target.value)">
      </div></td>
      <td><div class="select">
        <label>
          <select (change)="filterByPrivacy($event.target.value)" >
            <option disabled selected hidden>Filter by privacy</option>
            <option value="default">Filter by privacy</option>
            <option value="Private">Only private</option>
            <option value="Public">Only public</option>
          </select>
        </label>
      </div></td>
      <td><div class="select">
        <label>
          <select (change)="filterBranches($event.target.value)">
            <option disabled selected hidden>Filter by branches</option>
            <option value="default">Filter by branches</option>
            <option value="development">Only master</option>
            <option value="master">Only development</option>
          </select>
        </label>
      </div></td>
      <td *ngFor="let item of (tableHeader | async)">
        <div class="input-group mb-3">
          <input type="text" class="form-control" [placeholder]="item.name" aria-label="Username" (keyup)="filtration(item.name, $event.target.value)">
        </div>
      </td>
    </tr>
    <tr *ngFor="let repository of (repositoriesData | async)">
      <!--REPOSITORY NAME-->
      <td class="repository-name">{{ repository.repoName }}</td>

      <!--REPOSITORY TYPE-->
      <td [ngClass]="repository.repoType === 'Public'
                     ? 'text bg-primary text-white h5'
                     : 'text bg-secondary text-white h5'">
        <span>{{ repository.repoType }}</span>
      </td>

      <!--BRANCHES-->
      <td [ngClass]="isBranch(repository.branches) ? 'text bg-danger text-white h5' : 'text'">
      <span *ngIf="!isBranch(repository.branches); else branch" container="body" tooltip="master &rarr; development">
        <a>{{ getBranchName(repository.branches, 'master') }}</a>
        <a [hidden]="isBranch(repository.branches)"> &rarr; </a>
        <a>{{ getBranchName(repository.branches, 'development') }}</a>
      </span>
        <ng-template #branch>
          <span>{{ getBranchName(repository.branches, 'master') }}{{ getBranchName(repository.branches, 'development') }}</span>
        </ng-template>
      </td>

      <td *ngFor="let item of (tableHeader | async)" data-container="body"
          [ngClass]="isNone(repository.branches, item.name) && item._package.isImportant ? ' text bg-danger text-white h5' : 'text'"
          (mouseenter)="tooltipText($event.target.innerText)">
        <span *ngIf="!isNoneOrSame(repository.branches, item.name); else version" [tooltip]="showTooltip(text) ? text : null">
          <a [ngClass]="{'text-danger': setStyleClassForCellValue(repository.branches.master, item.name)}">
            {{ getPackageValue(repository.branches.master, item.name) }}
          </a>
          &rarr;
          <a [ngClass]="{'text-danger': setStyleClassForCellValue(repository.branches.development, item.name)}">
            {{ getPackageValue(repository.branches.development, item.name) }}
          </a>
        </span>
        <ng-template #version>
          <span *ngIf="isNone(repository.branches, item.name); else version2">(none)</span>
          <ng-template #version2>
            <span [tooltip]="showTooltip(text) ? text : null">
              {{ getPackageValue(repository.branches.master, item.name) }}
            </span>
          </ng-template>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-center">Add new package</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-name">Name</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Package name" autocomplete="off" aria-describedby="inputGroup-sizing-name">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-version">Version</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="version" name="version" placeholder="Recommend version" autocomplete="off" aria-describedby="inputGroup-sizing-version">
      </div>
      <div class="select">
        <label>
          <select (change)="isImportant = $event.target.value">
            <option disabled select="" hidden>Choose package need</option>
            <option name="isImportant" [value]="true">Important field</option>
            <option name="isImportant" [value]="false">Not important field</option>
          </select>
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addNewPackage()">Add package</button>
  </div>
</ng-template>
