.versions_control, .branches_not_found {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.old_version {
  font-family: Lucida, sans-serif;
  font-weight: bold;
  background-color: #ce0000;
  color: white;
}

.publicRepos {
  font-family: Lucida, sans-serif;
  font-weight: bold;
  background-color: #2750af;
  color: white;
}

.privateRepos {
  font-family: Lucida, sans-serif;
  font-weight: bold;
  background-color: gray;
  color: white;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
}

.string-height {
  height: 30px;
}

.btn-pos {
  text-align: center;
}
.button-btn {
  position: absolute;
  background-color: #2750af;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.error_alert {
  font-family: Lucida, sans-serif;
  font-weight: bolder;
  background-color: #ce0000;
  color: white;
}
