.versions_control, .branches_not_found {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.old_version {
  font-family: Lucida, sans-serif;
  font-weight: bold;
  color: red;
}

.error_alert {
  font-family: Lucida, sans-serif;
  font-weight: bolder;
  color: red;
}

dt {
  font-weight: bold;
}

a {
  font-weight: lighter;
  color: black;
}
