<form>
  <div class="versions_control">
    <table align="center">
      <tr>
        <th rowspan="2">Repository name</th>
        <th rowspan="2">timestamp</th>
        <th colspan="8">master</th>
        <th colspan="8">development</th>
      </tr>
      <tr>
        <th>name</th>
        <th>version</th>
        <th>description</th>
        <th>lodash</th>
        <th>tslint</th>
        <th>typescript</th>
        <th>express</th>
        <th>@angular/common</th>
        <th>name</th>
        <th>version</th>
        <th>description</th>
        <th>lodash</th>
        <th>tslint</th>
        <th>typescript</th>
        <th>express</th>
        <th>@angular/common</th>
      </tr>
      <tr *ngFor="let repoData of reposData">
        <td *ngIf='repoData.err === ""'>{{ repoData.repoName }}</td>
        <td *ngIf='repoData.err === ""'>{{ repoData.timestamp }}</td>
        <td *ngIf='repoData.err === ""'>{{ repoData.master.name }}</td>
        <td *ngIf='repoData.err === ""'>{{ repoData.master.version }}</td>
        <td *ngIf='repoData.err === ""'>{{ repoData.master.description }}</td>
        <td *ngIf='repoData.err === ""' [class]="s(repoData.master.lodash) < ver.lodash ? 'old_version' : ''">{{ repoData.master.lodash }}</td>
        <td *ngIf='repoData.err === ""' [class]="s(repoData.master.tslint) < ver.tslint ? 'old_version' : ''">{{ repoData.master.tslint}}</td>
        <td *ngIf='repoData.err === ""' [class]="s(repoData.master.typescript) < ver.typescript ? 'old_version' : ''">{{ repoData.master.typescript }}</td>
        <td *ngIf='repoData.err === ""' [class]="s(repoData.master.express) < ver.express ? 'old_version' : ''">{{ repoData.master.express }}</td>
        <td *ngIf='repoData.err === ""' [class]="s(repoData.master['@angular/common']) < ver['@angular/common'] ? 'old_version' : ''">{{ repoData.master['@angular/common'] }}</td>
        <td *ngIf='repoData.err === ""'>{{ repoData.dev.name }}</td>
        <td *ngIf='repoData.err === ""'>{{ repoData.dev.version }}</td>
        <td *ngIf='repoData.err === ""'>{{ repoData.dev.description }}</td>
        <td *ngIf='repoData.err === ""' [class]="s(repoData.dev.lodash) < ver.lodash ? 'old_version' : ''">{{ repoData.dev.lodash }}</td>
        <td *ngIf='repoData.err === ""' [class]="s(repoData.dev.tslint) < ver.tslint ? 'old_version' : ''">{{ repoData.dev.tslint}}</td>
        <td *ngIf='repoData.err === ""' [class]="s(repoData.dev.typescript) < ver.typescript ? 'old_version' : ''">{{ repoData.dev.typescript }}</td>
        <td *ngIf='repoData.err === ""' [class]="s(repoData.dev.express) < ver.express ? 'old_version' : ''">{{ repoData.dev.express }}</td>
        <td *ngIf='repoData.err === ""' [class]="s(repoData.dev['@angular/common']) < ver['@angular/common'] ? 'old_version' : ''">{{ repoData.dev['@angular/common'] }}</td>
      </tr>
      <tr>
        <th class="string-height" colspan="18">Branches data missing</th>
      </tr>
      <tr>
        <th rowspan="2">Repository name</th>
        <th rowspan="2">timestamp</th>
        <th colspan="8">master</th>
        <th colspan="8">development</th>
      </tr>
      <tr>
        <th>name</th>
        <th>version</th>
        <th>description</th>
        <th>lodash</th>
        <th>tslint</th>
        <th>typescript</th>
        <th>express</th>
        <th>@angular/common</th>
        <th>name</th>
        <th>version</th>
        <th>description</th>
        <th>lodash</th>
        <th>tslint</th>
        <th>typescript</th>
        <th>express</th>
        <th>@angular/common</th>
      </tr>
      <tr *ngFor="let errorRepoData of reposData">
        <td *ngIf='errorRepoData.err !== ""'>{{ errorRepoData.repoName }}</td>
        <td *ngIf='errorRepoData.err !== ""'>{{ errorRepoData.timestamp }}</td>
        <td class="error_alert" *ngIf='errorRepoData.err !== "" && errorRepoData.master === undefined && errorRepoData.dev !== undefined' colspan="8">{{ errorRepoData.err }}</td>
        <td class="error_alert" *ngIf='errorRepoData.err !== "" && errorRepoData.master === undefined && errorRepoData.dev === undefined' colspan="16">{{ errorRepoData.err }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.master !== undefined'>{{ errorRepoData.master.name }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.master !== undefined'>{{ errorRepoData.master.version }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.master !== undefined'>{{ errorRepoData.master.description }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.master !== undefined' [class]="s(errorRepoData.master.lodash) < ver.lodash ? 'old_version' : ''">{{ errorRepoData.master.lodash }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.master !== undefined' [class]="s(errorRepoData.master.tslint) < ver.tslint ? 'old_version' : ''">{{ errorRepoData.master.tslint}}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.master !== undefined' [class]="s(errorRepoData.master.typescript) < ver.typescript ? 'old_version' : ''">{{ errorRepoData.master.typescript }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.master !== undefined' [class]="s(errorRepoData.master.express) < ver.express ? 'old_version' : ''">{{ errorRepoData.master.express }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.master !== undefined' [class]="s(errorRepoData.master['@angular/common']) < ver['@angular/common'] ? 'old_version' : ''">{{ errorRepoData.master['@angular/common'] }}</td>
        <td class="error_alert" *ngIf='errorRepoData.err !== "" && errorRepoData.dev === undefined && errorRepoData.master !==undefined' colspan="8">{{ errorRepoData.err }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.dev !== undefined'>{{ errorRepoData.dev.name }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.dev !== undefined'>{{ errorRepoData.dev.version }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.dev !== undefined'>{{ errorRepoData.dev.description }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.dev !== undefined' [class]="s(errorRepoData.dev.lodash) < ver.lodash ? 'old_version' : ''">{{ errorRepoData.dev.lodash }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.dev !== undefined' [class]="s(errorRepoData.dev.tslint) < ver.tslint ? 'old_version' : ''">{{ errorRepoData.dev.tslint}}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.dev !== undefined' [class]="s(errorRepoData.dev.typescript) < ver.typescript ? 'old_version' : ''">{{ errorRepoData.dev.typescript }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.dev !== undefined' [class]="s(errorRepoData.dev.express) < ver.express ? 'old_version' : ''">{{ errorRepoData.dev.express }}</td>
        <td *ngIf='errorRepoData.err !== "" && errorRepoData.dev !== undefined' [class]="s(errorRepoData.dev['@angular/common']) < ver['@angular/common'] ? 'old_version' : ''">{{ errorRepoData.dev['@angular/common'] }}</td>
      </tr>
    </table>
  </div>
</form>

<div class="btn-pos">
   <button class="button-btn" (click)="getRData()">SYNCHRONIZE</button>
</div>

<router-outlet></router-outlet>
