<form>
  <div class="versions_control">
    <table align="center">
      <tr>
        <th rowspan="2">Repository name</th>
        <th rowspan="2">timestamp</th>
        <th colspan="8">master</th>
        <th colspan="8">development</th>
      </tr>
      <tr>
        <th>name</th>
        <th>version</th>
        <th>description</th>
        <th>lodash</th>
        <th>tslint</th>
        <th>typescript</th>
        <th>express</th>
        <th>@angular/common</th>
        <th>name</th>
        <th>version</th>
        <th>description</th>
        <th>lodash</th>
        <th>tslint</th>
        <th>typescript</th>
        <th>express</th>
        <th>@angular/common</th>
      </tr>
      <tr *ngFor="let a of repos_data">
        <td *ngIf='a.err === ""'>{{ a.repo_name }}</td>
        <td *ngIf='a.err === ""'>{{ a.timestamp }}</td>
        <td *ngIf='a.err === ""'>{{ a.master.name }}</td>
        <td *ngIf='a.err === ""'>{{ a.master.version }}</td>
        <td *ngIf='a.err === ""'>{{ a.master.description }}</td>
        <td *ngIf='a.err === ""' [class]="s(a.master.lodash) < ver.lodash ? 'old_version' : ''">{{ a.master.lodash }}</td>
        <td *ngIf='a.err === ""' [class]="s(a.master.tslint) < ver.tslint ? 'old_version' : ''">{{ a.master.tslint}}</td>
        <td *ngIf='a.err === ""' [class]="s(a.master.typescript) < ver.typescript ? 'old_version' : ''">{{ a.master.typescript }}</td>
        <td *ngIf='a.err === ""' [class]="s(a.master.express) < ver.express ? 'old_version' : ''">{{ a.master.express }}</td>
        <td *ngIf='a.err === ""' [class]="s(a.master['@angular/common']) < ver['@angular/common'] ? 'old_version' : ''">{{ a.master['@angular/common'] }}</td>
        <td *ngIf='a.err === ""'>{{ a.dev.name }}</td>
        <td *ngIf='a.err === ""'>{{ a.dev.version }}</td>
        <td *ngIf='a.err === ""'>{{ a.dev.description }}</td>
        <td *ngIf='a.err === ""' [class]="s(a.dev.lodash) < ver.lodash ? 'old_version' : ''">{{ a.dev.lodash }}</td>
        <td *ngIf='a.err === ""' [class]="s(a.dev.tslint) < ver.tslint ? 'old_version' : ''">{{ a.dev.tslint}}</td>
        <td *ngIf='a.err === ""' [class]="s(a.dev.typescript) < ver.typescript ? 'old_version' : ''">{{ a.dev.typescript }}</td>
        <td *ngIf='a.err === ""' [class]="s(a.dev.express) < ver.express ? 'old_version' : ''">{{ a.dev.express }}</td>
        <td *ngIf='a.err === ""' [class]="s(a.dev['@angular/common']) < ver['@angular/common'] ? 'old_version' : ''">{{ a.dev['@angular/common'] }}</td>
      </tr>
      <tr>
        <th class="string-height" colspan="18">Branches data missing</th>
      </tr>
      <tr>
        <th rowspan="2">Repository name</th>
        <th rowspan="2">timestamp</th>
        <th colspan="8">master</th>
        <th colspan="8">development</th>
      </tr>
      <tr>
        <th>name</th>
        <th>version</th>
        <th>description</th>
        <th>lodash</th>
        <th>tslint</th>
        <th>typescript</th>
        <th>express</th>
        <th>@angular/common</th>
        <th>name</th>
        <th>version</th>
        <th>description</th>
        <th>lodash</th>
        <th>tslint</th>
        <th>typescript</th>
        <th>express</th>
        <th>@angular/common</th>
      </tr>
      <tr *ngFor="let d of repos_data">
        <td class="error_alert" *ngIf='d.err !== "" && d.master === undefined' colspan="8">{{ d.err }}</td>
        <td *ngIf='d.err !== ""'>{{ d.repo_name }}</td>
        <td *ngIf='d.err !== ""'>{{ d.timestamp }}</td>
        <td *ngIf='d.err !== "" && d.master !== undefined'>{{ d.master.name }}</td>
        <td *ngIf='d.err !== "" && d.master !== undefined'>{{ d.master.version }}</td>
        <td *ngIf='d.err !== "" && d.master !== undefined'>{{ d.master.description }}</td>
        <td *ngIf='d.err !== "" && d.master !== undefined' [class]="s(d.master.lodash) < ver.lodash ? 'old_version' : ''">{{ d.master.lodash }}</td>
        <td *ngIf='d.err !== "" && d.master !== undefined' [class]="s(d.master.tslint) < ver.tslint ? 'old_version' : ''">{{ d.master.tslint}}</td>
        <td *ngIf='d.err !== "" && d.master !== undefined' [class]="s(d.master.typescript) < ver.typescript ? 'old_version' : ''">{{ d.master.typescript }}</td>
        <td *ngIf='d.err !== "" && d.master !== undefined' [class]="s(d.master.express) < ver.express ? 'old_version' : ''">{{ d.master.express }}</td>
        <td *ngIf='d.err !== "" && d.master !== undefined' [class]="s(d.master['@angular/common']) < ver['@angular/common'] ? 'old_version' : ''">{{ d.master['@angular/common'] }}</td>
        <td class="error_alert" *ngIf='d.err !== "" && d.dev === undefined' colspan="8">{{ d.err }}</td>
        <td *ngIf='d.err !== "" && d.dev !== undefined'>{{ d.dev.name }}</td>
        <td *ngIf='d.err !== "" && d.dev !== undefined'>{{ d.dev.version }}</td>
        <td *ngIf='d.err !== "" && d.dev !== undefined'>{{ d.dev.description }}</td>
        <td *ngIf='d.err !== "" && d.dev !== undefined' [class]="s(d.dev.lodash) < ver.lodash ? 'old_version' : ''">{{ d.dev.lodash }}</td>
        <td *ngIf='d.err !== "" && d.dev !== undefined' [class]="s(d.dev.tslint) < ver.tslint ? 'old_version' : ''">{{ d.dev.tslint}}</td>
        <td *ngIf='d.err !== "" && d.dev !== undefined' [class]="s(d.dev.typescript) < ver.typescript ? 'old_version' : ''">{{ d.dev.typescript }}</td>
        <td *ngIf='d.err !== "" && d.dev !== undefined' [class]="s(d.dev.express) < ver.express ? 'old_version' : ''">{{ d.dev.express }}</td>
        <td *ngIf='d.err !== "" && d.dev !== undefined' [class]="s(d.dev['@angular/common']) < ver['@angular/common'] ? 'old_version' : ''">{{ d.dev['@angular/common'] }}</td>
      </tr>
    </table>
  </div>
</form>

<div class="btn-pos">
   <button class="button-btn" (click)="getRData()">SYNCHRONIZE</button>
</div>

<router-outlet></router-outlet>
