<form>
  <div class="versions_control">
    <table align="center">
      <tr>
        <th><div>Repository name</div></th>
        <th>Type of privacy</th>
        <th>Last update</th>
        <th>Branches</th>
        <th>name</th>
        <th>version</th>
        <th>description</th>
        <th>lodash</th>
        <th>tslint</th>
        <th>typescript</th>
        <th>express</th>
        <th>@angular/common</th>
      </tr>
      <tr *ngFor="let repository of repositories">
        <td><div title="{{ repository.repoName }}">{{ repository.repoName }}</div></td>
        <td [className]="repository.repoType === 'Public' ? 'publicRepos' : 'privateRepos'"><div>{{ repository.repoType }}</div></td>
        <td><div>{{ lastUpdate(repository.timestamp) }}</div></td>
        <td [className]="!checkBranch(repository.branches.master, 'master') ? 'old_version' : !checkBranch(repository.branches.development, 'development') ? 'old_version' : '' ">
          <div title="{{ checkBranch(repository.branches.master, 'master') }} &rarr; {{ checkBranch(repository.branches.development, 'development') }}">
          {{ checkBranch(repository.branches.master, 'master') }}
          <a *ngIf="checkBranch(repository.branches.master, 'master') && checkBranch(repository.branches.development, 'development')">&rarr;</a>
          {{ checkBranch(repository.branches.development, 'development') }}
        </div></td>
        <td><div title="{{ checkValue(repository.branches.master, 'name') }} &rarr; {{ checkValue(repository.branches.development, 'name') }}">
          <a [className]="checkValue(repository.branches.master, 'name') !== '(none)' ? '' : 'error_alert'">{{ checkValue(repository.branches.master, 'name') }}</a>
          &rarr;
          <a [className]="checkValue(repository.branches.development, 'name') !== '(none)' ? '' : 'error_alert'">{{ checkValue(repository.branches.development , 'name') }}</a>
        </div></td>
        <td><div title="{{ checkValue(repository.branches.master, 'version') }} &rarr; {{ checkValue(repository.branches.development, 'version') }}">
          <a [className]="checkValue(repository.branches.master, 'version') !== '(none)' ? '' : 'error_alert'">{{ checkValue(repository.branches.master, 'version') }}</a>
          &rarr;
          <a [className]="checkValue(repository.branches.development, 'version') !== '(none)' ? '' : 'error_alert'">{{ checkValue(repository.branches.development , 'version') }}</a>
        </div></td>
        <td *ngIf="checkValue(repository.branches.master, 'description') === '(none)' && checkValue(repository.branches.development, 'description') === '(none)'" class="old_version"><div>
          (none)
        </div></td>
        <td *ngIf="checkValue(repository.branches.master, 'description') !== '(none)' || checkValue(repository.branches.development, 'description') !== '(none)'">
          <div title="{{ checkValue(repository.branches.master, 'description') }} &rarr; {{ checkValue(repository.branches.development, 'description') }}">
          <a [className]="checkValue(repository.branches.master, 'description') !== '(none)' ? '' : 'error_alert'">{{ checkValue(repository.branches.master, 'description') }}</a>
          &rarr;
          <a [className]="checkValue(repository.branches.development, 'description') !== '(none)' ? '' : 'error_alert'">{{ checkValue(repository.branches.development , 'description') }}</a>
          <span class="tooltiptext">{{ checkValue(repository.branches.master, 'description') }} &rarr; {{ checkValue(repository.branches.development, 'description') }}</span>
        </div></td>
        <td *ngIf="checkValue(repository.branches.master, 'lodash') === '(none)' && checkValue(repository.branches.development, 'lodash') === '(none)'"><div>
          (none)
        </div></td>
        <td *ngIf="checkValue(repository.branches.master, 'lodash') !== '(none)' || checkValue(repository.branches.development, 'lodash') !== '(none)'">
          <div title="{{ checkValue(repository.branches.master, 'lodash') }} &rarr; {{ checkValue(repository.branches.development, 'lodash') }}">
          <a [className]="checkValue(repository.branches.master, 'lodash') === '(none)' ? 'error_alert'
          : setVersion(checkValue(repository.branches.master, 'lodash'), packagesVersions.lodash) ? 'error_alert' : ''">
            {{ checkValue(repository.branches.master, 'lodash') }}
          </a>
          &rarr;
          <a [className]="checkValue(repository.branches.development, 'lodash') === '(none)' ? 'error_alert'
          : setVersion(checkValue(repository.branches.development, 'lodash'), packagesVersions.lodash) ? 'error_alert' : ''">
            {{ checkValue(repository.branches.development , 'lodash') }}
          </a>
        </div></td>
        <td *ngIf="checkValue(repository.branches.master, 'tslint') === '(none)' && checkValue(repository.branches.development, 'tslint') === '(none)'" class="old_version"><div>
          (none)
        </div></td>
        <td *ngIf="checkValue(repository.branches.master, 'tslint') !== '(none)' || checkValue(repository.branches.development, 'tslint') !== '(none)'">
          <div title="{{ checkValue(repository.branches.master, 'tslint') }} &rarr; {{ checkValue(repository.branches.development, 'tslint') }}">
          <a [className]="checkValue(repository.branches.master, 'tslint') === '(none)' ? 'error_alert'
          : setVersion(checkValue(repository.branches.master, 'tslint'), packagesVersions.tslint) ? 'error_alert' : ''">
            {{ checkValue(repository.branches.master, 'tslint') }}
          </a>
          &rarr;
          <a [className]="checkValue(repository.branches.development, 'tslint') === '(none)' ? 'error_alert'
          : setVersion(checkValue(repository.branches.development, 'tslint'), packagesVersions.tslint) ? 'error_alert' : ''">
            {{ checkValue(repository.branches.development , 'tslint') }}
          </a>
        </div></td>
        <td *ngIf="checkValue(repository.branches.master, 'typescript') === '(none)' && checkValue(repository.branches.development, 'typescript') === '(none)'" class="old_version"><div>
          (none)
        </div></td>
        <td *ngIf="checkValue(repository.branches.master, 'typescript') !== '(none)' || checkValue(repository.branches.development, 'typescript') !== '(none)'">
          <div title="{{ checkValue(repository.branches.master, 'typescript') }} &rarr; {{ checkValue(repository.branches.development, 'typescript') }}">
          <a [className]="checkValue(repository.branches.master, 'typescript') === '(none)' ? 'error_alert'
          : setVersion(checkValue(repository.branches.master, 'typescript'), packagesVersions.typescript) ? 'error_alert' : ''">
            {{ checkValue(repository.branches.master, 'typescript') }}
          </a>
          &rarr;
          <a [className]="checkValue(repository.branches.development, 'typescript') === '(none)' ? 'error_alert'
          : setVersion(checkValue(repository.branches.development , 'typescript'), packagesVersions.typescript) ? 'error_alert' : ''">
            {{ checkValue(repository.branches.development , 'typescript') }}
          </a>
        </div></td>
        <td *ngIf="checkValue(repository.branches.master, 'express') === '(none)' && checkValue(repository.branches.development, 'express') === '(none)'"><div>
          (none)
        </div></td>
        <td *ngIf="checkValue(repository.branches.master, 'express') !== '(none)' || checkValue(repository.branches.development, 'express') !== '(none)'">
          <div title="{{ checkValue(repository.branches.master, 'express') }} &rarr; {{ checkValue(repository.branches.development, 'express') }}">
          <a [className]="checkValue(repository.branches.master, 'express') === '(none)' ? 'error_alert'
          : setVersion(checkValue(repository.branches.master, 'express'), packagesVersions.express) ? 'error_alert' : ''">
            {{ checkValue(repository.branches.master, 'express') }}
          </a>
          &rarr;
          <a [className]="checkValue(repository.branches.development, 'express') === '(none)' ? 'error_alert'
          : setVersion(checkValue(repository.branches.development , 'express'), packagesVersions.express) ? 'error_alert' : ''">
            {{ checkValue(repository.branches.development , 'express') }}
          </a>
        </div></td>
        <td *ngIf="checkValue(repository.branches.master, '@angular/common') === '(none)' && checkValue(repository.branches.development, '@angular/common') === '(none)'"><div>
          (none)
        </div></td>
        <td *ngIf="checkValue(repository.branches.master, '@angular/common') !== '(none)' || checkValue(repository.branches.development, '@angular/common') !== '(none)'">
          <div title="{{ checkValue(repository.branches.master, '@angular/common') }} &rarr; {{ checkValue(repository.branches.development, '@angular/common') }}">
          <a [className]="checkValue(repository.branches.master, '@angular/common') === '(none)' ? 'error_alert'
          : setVersion(checkValue(repository.branches.master, '@angular/common'), packagesVersions['@angular/common']) ? 'error_alert' : ''">
            {{ checkValue(repository.branches.master, '@angular/common') }}
          </a>
          &rarr;
          <a [className]="checkValue(repository.branches.development, '@angular/common') === '(none)' ? 'error_alert'
          : setVersion(checkValue(repository.branches.development , '@angular/common'), packagesVersions['@angular/common']) ? 'error_alert' : ''">
            {{ checkValue(repository.branches.development , '@angular/common') }}
          </a>
        </div>
        </td>
      </tr>
    </table>
  </div>
</form>
простой html