.card-position {
    width: 30rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.btn-position {
    float: left;
}

.loginImg {
    cursor: help;
}

.btn-danger-position {
    float: right;
}

.link-position{
    float: right;
}

.form-position {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}