@mixin transition($duration: 0) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;

  -webkit-transition-property: border, color, cursor, background-color, font-size;
  -moz-transition-property: border, color, cursor, background-color, font-size;
  -o-transition-property: border, color, cursor, background-color, font-size;
  transition-property: border, color, cursor, background-color, font-size;
}
